.department {
	border: 1px solid #eee;
	margin-bottom: 30px;

	.img {
		a {
			display: block;
			text-align: center;

			img {
				display: inline-block;
			}
		}
	}

	.details {
		padding: 30px;

		.name {
			margin: 0;
			padding-bottom: 20px;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 14px;
		}
	}
}

.department-info {
	.box {
		border-color: #999;
	}
}

.box {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;

	.icon {
		padding: 20px 0;
		font-size: 26px;
		color: #2e8ece;
	}

	.des {
		font-size: 20px;
		color: #666
	}
}