.employee {
	border: 1px solid #eee;
	margin-bottom: 30px;

	.img {
		a {
			display: block;
			text-align: center;

			img {
				display: inline-block;
			}
		}
	}

	.details {
		padding: 30px;

		.name {
			margin: 0;
			padding-bottom: 20px;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 14px;
		}
	}

	&.manager {
		.img {
			position: relative;

			&:after {
				display: block;
				content: '';
				width: 126px;
				height: 125px;
				position: absolute;
				top: -7px;
				right: -8px;
				background: url("../images/manager.png");
				background-size: cover;
			}
		}
	}
}