.footer {
	background-color: $primary_color;
	color: #fff;
	min-height: 100px;
	position: absolute;
	bottom: 0;
	width: 100%;

	.copy-right {
		line-height: 42px;
	}

	.btn {
		font-size: 18px;
		line-height: 20px;
		color: #fff;
		background-color: transparent;
		padding: 10px 14px;
	}
}