body {
	font-family: 'Open Sans';
	font-size: 14px;
}

a {
	color: #2e8ece;
}

.panel {
	border-radius: 0;
}

.fa-btn {
	margin-right: 6px;
}

.btn {
	border-radius: 0;
}

.f-table {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.f-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.f-heading {
	position: relative;
	margin-bottom: 60px;
	margin-top: 50px;

	.primary {
		text-transform: uppercase;
		font-weight: 700;
	}

	.secondary {
		padding-bottom: 20px;
	}

	.line {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: 30px;
		height: 1px;
		background-color: #308ed5;
	}
}

.content {
	margin-top: 50px;
}

.f-button {
	border-radius: 0;
	background-color: #308ed5;
	border: none;
	color: #fff;
	padding: 15px 30px;
}

.f-component {
	margin: 20px 0;
}

.border-right {
	border-right: 1px solid;
}

.back-to-top {
	display: none;
	position: relative;
	border: 1px solid #fff;

	&.active {
		display: block;
	}
}