.heading-top {
	background-size: cover;
	min-height: 570px;
	color: #fff;
	background-image: url('../images/department_show.jpg');
	position: relative;

	&:after {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(46, 142, 206, 0.5);
		z-index: 1;
	}

	.go-to-main {
		position: absolute;
		bottom: 10px;
		left: 50%;
		color: #fff;
		font-size: 42px;
		z-index: 2;
		@include transform(translate(-50%, 0));
		animation: moveDown 1.3s cubic-bezier(0.07, 0.5, 0.58, 1) infinite;

		&:hover {
			cursor: pointer;
		}
	}
}