.heading-top {
	background-size: cover;
	min-height: 600px;
	color: #fff;
	background-image: url('../images/department_show.jpg');
	position: relative;

	&:after {
		display: block;
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(46, 142, 206, 0.5);
		z-index: 1;
	}
}