@media all and (max-width: 992px) {
	.back-to-top {
		bottom: 20px;
		right: 30px;
	}

	.navbar-static-top {
		.navbar-right {
			padding-top: 0;
		}

		.navbar-toggle {
			padding: 15px 15px;
			margin-top: 25px;
			margin-bottom: 20px;
		}
	}
}