.top-search {
	background-image: url('../images/home_bg.jpg');

	.top {
		margin-bottom: 30px;
		h2 {
			font-size: 40px;
			line-height: 1;
			margin-bottom: 50px;
		}
	}

	.bottom {
		.form-search {
			font-size: 18px;

			.left {
				position: relative;

				&:before {
					position: absolute;
					content: '';
					width: 1px;
					height: 35px;
					background-color: #fff;
					top: 8px;
					right: 250px;
				}
			}

			select {
				position: absolute;
				top: 0;
				right: 15px;
				width: 230px;
				background-color: transparent;
				padding: 12px 5px;
				border: none;
				outline: none;

				option {
					color: #333;
				}
			}

			input {
				border-color: #fff;
				font-size: 18px;
				background-color: transparent;
				padding: 24px 10px;
				color: #fff;
			}

			.btn {
				text-transform: uppercase;

				i {
					padding-right: 5px;
				}
			}
		}
	}
}

@media all and (max-width: 768px) {
	.top-search {
		.top {
			h2 {
				strong {
					display: block;
					line-height: 2;
				}
			}
		}

		.bottom {
			.form-search {
				.left {
					&:before {
						right: 200px;
					}

					select {
						width: 180px;
					}
				}


				.btn {
					width: 100%;
					margin-top: 20px;
				}
			}
		}
	}
}